* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p { 
    color: #5D5D5D; 
}
a {
    text-decoration: none;
}
body {
    text-align: center;
}
/* Header */
header {
    height: 17vh;
}
.burger {
    cursor: pointer;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.burger span{
    display: block;
    width: 50px;
    height: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #2B6A80;
    position: relative;
    top: 0;
    transition: all .3s ease-in-out;
}

.burger.open span:nth-child(2) {
    opacity: 0;
}

.burger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 15px;
}

.burger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: -15px;
}

nav {
    height: 100vh;
    width: 100vw;
    background-color: #2B6A80;
    text-align: center;
}
nav ul {
    height: 70vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
}
nav ul li {
    font-size: 3em;
    padding: 15%;
}
nav ul li a {
    color: white;
    font-weight: 700;
}
nav p {
    color: white;
    font-weight: 700;
}
.navBar {
    display: none;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.open .white {
    background-color: white;
}
.logo {
    position: absolute;
    width: 30%;
   left: 12px;
   top: 3px;
}

/* header ends */
/* main */
h1 {
    font-size: 2em;
    font-weight: 600;
    color: #266376;
}
h3 {
    font-size: 1em;
    margin: 5% 0 10% 0;
}
.margin {
    margin: 0% 0 15% 0;
}
/* home */
main {
    width: 90%;
    margin: auto;
}
.gridBox {
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    border-radius: 5px;
    margin: 5% auto;
    height: 150px;
}
.gridBox img {
    width: 17%;
    margin: auto;

}
#populære {
    background-color:#31829B;
}

#popular {
    width: 61%;
    margin-right: 7%;
}
#juleøl {
    background-color:#266376;
}

#christmas 
{
   width: 87.5%;    
}
#nyheder {
    background-color:#1D4D5D;
}
#nyheder1 {
    width: 80%;
}
.h2Tekst {
    padding: 60px 0;
    height: 30px;
}
.h2Tekst1 {
    padding: 44px 0;
    height: 30px;
}
#yourEmail {
    border: 1px solid grey;
    padding: 3% 5% 3% 5%;
    outline: 0;
    background-color: white;
    border-radius: 5px;
    font-size: 1.3em;
}

#emailBtn {
    border: 1px solid grey;
    padding: 2% 1% 2% 1%;
    outline: 0;
    color: white;
    background-color: #1D4D5D;
    border: #1D4D5D;
    border-radius: 12px;
    width: 35%;
    font-size: 1.5em;
}
#link {
    color: blue;
}
#nyhedsbrev {
    display: grid;
    row-gap: 2%;
}
.emailBtn {
    margin: 5% 0 5% 0;
}
#home h4 {
    font-weight: 700;
    color: #266376;
    font-size: 1.3em;
}
#home label {
    color: #5d5d5d;
}

/* home ends */
/* øl */

ol {
    color:#5D5D5D;
}

.grid-container {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;
}
.postImage {
    height: 140px;
    margin:2%
}
#ol .grid-container h3{
    color: #266376;
    font-weight: 700;
    font-size: 1.1em;
    height: 42px;
    margin: 5% 0 5% 0;
}
#ol .grid-container h4{
    color: darkgray;
    font-weight: 500;
    font-size: 0.8em;
    height: 42px;
    margin: 5% 0 5% 0;
}
#ol .grid-container button {
    width: 88px;
    height: 30px;
    color: white;
    background-color:#266376;
    border: #266376;
    border-radius: 40px;
    box-shadow: 3px 3px 3px #aaaaaa;
    margin: 5%;
    
}
#searchFilteredContent .grid-container h3{
    color: #266376;
    font-weight: 700;
    font-size: 1.1em;
    height: 42px;
    margin: 5% 0 5% 0;
}

#searchFilteredContent .grid-container h4{
    color: darkgray;
    font-weight: 500;
    font-size: 0.8em;
    height: 42px;
    margin: 5% 0 5% 0;
}

#searchFilteredContent .grid-container button {
    width: 88px;
    height: 30px;
    color: white;
    background-color:#266376;
    border: #266376;
    border-radius: 40px;
    margin: 5%;
}

article {
    border: 1px solid rgba(245, 245, 245, 0.5);
    margin: 4%;
    border-radius: 5px;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 2.5px 0 rgba(0, 0, 0, 0.19);
}

.filter {
    z-index: 1;
    display: none;
    background-color:  #266376;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
}

#filterFont {
    font-style: italic;
    color: #ffffff;
    font-weight: lighter;
    padding-bottom: 3%;
}

#filterFontOverskrift {
    color: #ffffff;
    padding-top: 10%;
    padding-bottom: 5%;
    font-weight: bolder;
}

.flexFilterItems a {
    color:black;
    text-decoration: none;
    margin: 1%;
    background-color: white;
}

.filterButtons {
    background-color: white;
    border-radius: 5px;
    margin: 2.5% 5% 2.5% 5%;
    text-align: center;
    
}

#closemenu {
    position: fixed;
    background-color: #ffffff;
    width: 9%;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    padding: 2.5% 3% 2.5% 3%;
    right: 10px;
    bottom: 10px;
}

#closemenu img {
  width: 100%;
  margin-top: 7%;
}

#filterDiv img {
    width: 20%;
    
}

.grid-ol-filter {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    margin-bottom: 5%;
    margin-top: 5%;

}

.filteredBtns {
    border: 1px solid darkgray;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 2.5px 0 rgba(0, 0, 0, 0.19);
    padding: 6px 4px;
   
}

.filteredBtns p {
    color: #266376;
    font-weight: 500;
}

/*Modal begins*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 12px;
  }
  
  .modal-content article {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: 0;
    padding: 5%;
  }

  .modal-content article p{
  line-height: 1.5em;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/*Modal ends*/
/* øl ends */


/* main ends */

/* contact section */

#cover {
    width: 100%;
    margin-bottom: 5%;
    border-radius: 5px;
}

#omos {
line-height: 22px;
margin-bottom: 5%;
}

.omOs{
    margin-top: 4%;
    margin-bottom: 2%;
    color: #5D5D5D;
    font-size: 1.4em;
    font-weight: 500;
}

#icons {
    display: grid;
    grid-template-columns: 20% 20%;
    justify-content: center;
}

#kontakt {
    overflow-x: hidden;
}

#kort {
    width: 100%;
    padding-left: auto;
    padding-left: auto;
}
/* byg selv begins */
.grid-bygSelv {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    column-gap: 5%;
    margin-top: 5%;
}

.grid-h1 {
    display: grid;
    grid-template-columns: 10% 73%;
    column-gap: 5%;
}
#olkasse h3 {
    margin: 2% 0 2% 0;
}


.arrow {
    border: solid #1D4D5D;
    border-width: 0 4px 4px 0;
    display: inline-block;
    height: 5px;
    width: 5px;
    padding: 3px;
    margin: 10px 0 0 0;
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

.kasse {
    background-color:  #2B6A80;
    color: white;
    height: 40px;
    padding: 25% 20% 30% 20%;
    margin: 0 0 10% 0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.3em;
}

.kasseTekst {
    font-size: 0.8em;
    color: white;
}

#bygKasse {
    background-color:  #2B6A80;
    color: white;
    height: 10px;
    padding: 5%;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.5em;
}
#bygSelvContent {
    margin-top: 5%;
    
}
#bygSelvContent h3 {
    font-size: 1.2em;
    height: 48px;
}

#olkasse {
    background-color: #2B6A80;
    color: white;
    font-weight: 700;
    font-size: 1.8em;
    border-radius: 5px;
    margin: 30px 0 0 0;
    padding: 5% 0 5% 0;
    text-align: center;
}

#olkasse h3 {
    text-align: center;
    margin-left: 10px;
    font-weight: 600;
    font-size: 0.6em;
}

#olkasse h4 {
    text-align: center;
    margin-left: 10px;
    font-weight: 500;
    color: white;
    font-size: 0.5em;
    margin-bottom: 3%;
}

#darkBox {
    height: 200px;
    background-color: #205060;
    
}

#darkBox p {
    color: white;
    font-size: 0.6em;
    
}

#darkBox a {
    border: solid 2px white;
    
    padding: 10px 55px 10px 55px;
    color: white;
    font-size: 0.6em;
    font-weight: 700;
}

#mobilInput {
    float: left;
    height: 30px;
    width: 150px;
    margin: 10px 0 10px 10px;
    padding: 5px 10px 5px 10px;
    border: solid 1px white;
    background-color: #2B6A80;
    color: white;
}

#mailInput {
    float: left;
    height: 30px;
    width: 285px;
    margin: 10px 0 10px 10px;
    padding: 5px 10px 5px 10px;
    border: solid 1px white;
    background-color: #2B6A80;
    color: white;
}

::placeholder {
    color: white;
}

#checkboxWrap {
    margin-top: 135px;
}

.nyhedsbrevTekst {
    font-size: 0.4em;

}

#reserverKnap {
    background-color: #205060;
    margin: 50px 0 0 0;
    padding: 20px 40px 20px 40px;
    color: white;
    font-size: 0.6em;
    font-weight: 700;
}
#contentOl {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    grid-row-gap: 2%;
    padding: 2% 0 5% 0;
    width: 100%;
}
#step2 .grid-container h3{
    color: #266376;
    font-weight: 700;
    font-size: 1.1em;
    height: 42px;
    margin: 5% 0 5% 0;
}
#step2 .grid-container h4{
    color: darkgray;
    font-weight: 500;
    font-size: 0.8em;
    height: 42px;
    margin: 5% 0 5% 0;
}
#step2 .grid-container button {
    width: 88px;
    height: 30px;
    color: white;
    background-color:#266376;
    border: #266376;
    border-radius: 40px;
    box-shadow: 3px 3px 3px #aaaaaa;
    margin: 5% 5% 10% 5%;
    
}
#step2 .grid-container input {
    height: 20px;
    width: 20px;
}

#step2 .grid-container label {
    color: #5b5b5b;
    font-weight: 700;
    font-size: 1.1em;
    height: 42px;
}

/* byg selv ends */
/* main ends */
/* main ends */
/* Progress bar */
.progressContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 5% auto 10% auto;
  }
  .progress-bar {
    width: 100%;
  }
  #step1 ul {
    /* remove default ul styling */
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
  }
#step1 li {
    display: flex;
    width: 100%;
    align-items: center;
  }
#step1 li span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    /* Every span needs a border so things align */
    border: 3px solid #f0f0f0;
    background-color: #fff;
    color: #fff;
    
  }
#step1 li:after {
    background-color: #f0f0f0;
    content: '';
    height: 3px;
    flex-grow: 1;
  }
#step1 li:last-child {
    /*  This prevents the last li from adding space to the right of the span  */
    width: auto;
  }
 #step1 li:last-child:after {
    display: none;
  }
 #step1 li.completed:after {
    background-color:#2B6A80;
  }
  #step1 span.completed {
    border-color: #2B6A80;
    background-color:#2B6A80;
  }
  #step1 span.current {
    border-color: #2B6A80;
    background-color:white;
    color: #2B6A80;
    
  }
  #step2 ul {
    /* remove default ul styling */
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
  }
#step2 li {
    display: flex;
    width: 100%;
    align-items: center;
  }
#step2 li span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    /* Every span needs a border so things align */
    border: 3px solid #f0f0f0;
    background-color: #fff;
    color: #fff;
  }
#step2 li:after {
    background-color: #f0f0f0;
    content: '';
    height: 3px;
    flex-grow: 1;
  }
#step2 li:last-child {
    /*  This prevents the last li from adding space to the right of the span  */
    width: auto;
  }
 #step2 li:last-child:after {
    display: none;
  }
 #step2 li.completed:after {
    background-color:#2B6A80;
  }
  #step2 span.completed {
    border-color: #2B6A80;
    background-color:#2B6A80;
  }
  #step2 span.current {
    border-color: #2B6A80;
    background-color:white;
    color: #2B6A80;
  }
#step3 ul {
    /* remove default ul styling */
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
  }
#step3 li {
    display: flex;
    width: 100%;
    align-items: center;
  }
#step3 li span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    /* Every span needs a border so things align */
    border: 3px solid #f0f0f0;
    background-color: #fff;
    color: #fff;
  }
#step3 li:after {
    background-color: #f0f0f0;
    content: '';
    height: 3px;
    flex-grow: 1;
  }
#step3 li:last-child {
    /*  This prevents the last li from adding space to the right of the span  */
    width: auto;
  }
 #step3 li:last-child:after {
    display: none;
  }
 #step3 li.completed:after {
    background-color:#2B6A80;
  }
  #step3 span.completed {
    border-color: #2B6A80;
    background-color:#2B6A80;
  }
  #step3 span.current {
    border-color: #2B6A80;
    background-color:white;
    color: #2B6A80;
  }
  #sådanGørDu {
      width: 100%;
      margin: 5% 0 15% 0;
  }
  #sådanGørDu p{
    width: 100%;
}
#sådanGørDu ul {
    color: #5D5D5D;
    margin: 0 auto;
    width: 60%;
    text-align: left;
}
#sådanGørDu li{
    width: 100%;
}
#sådanGørDu h4{
    margin: 0 auto 1% auto;
    width: 60%;
    text-align: left;
    font-weight: 700;
    color: #2B6A80;
}
#aLittleMargin {
    margin-top: 15%;
}
#filterIcon {
    margin-right: 10%;
    width: 60%;
}
#filterDivOne .grid-container{
    grid-template-columns: 70% 30%;
    column-gap: 0;
}